$purple: #9356dc;
$lightpurple: #f5edff;
$pink: #ff79da;
$teal: #99e2d0;
$lightgrey: #f6f6f6;
$grey: #eaeaea;
$darkgrey: #353535;

/* Animations */

/* Absolute Center Spinner */
.spinner {
  z-index: 999;
  display: block;
  font-size: 0.625em;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 3.125em;
  height: 3.125em;
  border: 0.938em solid $purple;
  border-radius: 100%;
  border-bottom-color: transparent;
  visibility: hidden;
  animation: spinner 1s linear 0s;
}

/* Transparent Overlay */
.spinner-bg {
  z-index: 999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  visibility: hidden;
  animation: spinner-bg 1s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }

  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes spinner-bg {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

// Fade in up anim for menu
@keyframes fadeinup {
  from {
    transform: translate3d(0, 2.5em, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in-up {
  animation: fadeinup 1s;
}

.anim-delay {
  &1 {
    animation-delay: 0.2s;
  }

  &2 {
    animation-delay: 0.4s;
  }

  &3 {
    animation-delay: 0.6s;
  }
}

// General
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.like {
  cursor: pointer;
  position: relative;

  a {
    text-decoration: none;
    color: black;
    padding: 0.188rem;
    font-size: 2.25em;
  }

  .like-filled {
    position: absolute;
    color: transparent;
    background-image: linear-gradient(to top right, $pink, $purple);
    transform: scale(0);
  }

  .like-empty {
    position: absolute;
    z-index: 2;
  }

  &:hover {
    .like-empty {
      opacity: 0;
      transition-duration: 300ms;
    }

    .like-filled {
      background-clip: text;
      -webkit-background-clip: text;
      transform: scale(1);
      transition: transform 150ms;
    }
  }
}

header {
  margin: 0;

  img {
    object-fit: cover;
    width: 100%;
    height: 65vw;
    max-height: 50em;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.75em;
    align-items: center;
    position: relative;
    box-shadow:
      0 0 0.5px rgba(0, 0, 0, 0.021),
      0 0 1.32px rgba(0, 0, 0, 0.03),
      0 0 2.5px rgba(0, 0, 0, 0.037),
      0 0 9.95px rgba(0, 0, 0, 0.045),
      0 0 8.35px rgba(0, 0, 0, 0.053),
      0 0 20px rgba(0, 0, 0, 0.075);

    img {
      height: 3em;
      margin-top: 0.313em;
    }

    .fa-arrow-left {
      font-size: 2em;
      color: black;
    }

    .top-spacer {
      width: 1.75em;
    }
  }

  .location {
    font-weight: 500;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.563em;
    padding: 0.313em;
    margin: 0;
    color: $darkgrey;

    &:hover {
      cursor: default;
    }

    i {
      font-size: 1.75em;
    }

    .spacer {
      width: 1.125em;
      visibility: hidden;
    }
  }
}

.explore {
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75em 1.875em 4.375em 1.875em;
  font-size: 1.3em;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 1.5em;
    padding-left: 3.125em;
    padding-right: 3.125em;
  }

  p {
    font-weight: 300;
    font-size: 1.2em;
  }

  a {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.1em;
    color: white;
    background-image: linear-gradient(to bottom right, $pink, $purple);
    text-decoration: none;
    border-radius: 3.125em;
    padding: 1.25em 1.875em 1.25em 1.875em;
    transition-duration: 250ms;
    box-shadow:
      0 0 1.1px rgba(0, 0, 0, 0.017),
      0 0 2.65px rgba(0, 0, 0, 0.024),
      0 0 5px rgba(0, 0, 0, 0.03),
      0 0 9.95px rgba(0, 0, 0, 0.036),
      0 0 16.7px rgba(0, 0, 0, 0.043),
      0 0 40px rgba(0, 0, 0, 0.06);

    &:hover {
      box-shadow:
        0 0 1.1px rgba(0, 0, 0, 0.034),
        0 0 2.65px rgba(0, 0, 0, 0.048),
        0 0 5px rgba(0, 0, 0, 0.06),
        0 0 9.95px rgba(0, 0, 0, 0.072),
        0 0 16.7px rgba(0, 0, 0, 0.086),
        0 0 40px rgba(0, 0, 0, 0.12);
    }

    &::before {
      position: absolute;
      border-radius: 3.125em;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, lighten($pink, 5), lighten($purple, 5));
      z-index: -1;
      transition: opacity 250ms linear;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.manual {
  margin: 10% 3% 10% 3%;

  h2 {
    font-size: 2em;
  }

  .manual-content div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.563em;
    background-color: $lightgrey;
    margin: 8% 4% 8% 4%;
    border-radius: 1.875em;
    padding: 0.438em 0 0.438em 0;
    cursor: default;
    box-shadow:
      0 0 1.1px rgba(0, 0, 0, 0.017),
      0 0 2.65px rgba(0, 0, 0, 0.024),
      0 0 5px rgba(0, 0, 0, 0.03),
      0 0 9.95px rgba(0, 0, 0, 0.036),
      0 0 16.7px rgba(0, 0, 0, 0.043),
      0 0 40px rgba(0, 0, 0, 0.06);

    &:hover {
      background-color: $lightpurple;
      transition-duration: 0.2s;

      i {
        color: $purple;
        transition-duration: 0.2s;
      }

      box-shadow:
        0 0 1.1px rgba(0, 0, 0, 0.034),
        0 0 2.65px rgba(0, 0, 0, 0.048),
        0 0 5px rgba(0, 0, 0, 0.06),
        0 0 9.95px rgba(0, 0, 0, 0.072),
        0 0 16.7px rgba(0, 0, 0, 0.086),
        0 0 40px rgba(0, 0, 0, 0.12);
    }

    i {
      color: #7e7e7e;
      font-size: 1.75em;
    }

    p {
      background-color: $purple;
      color: white;
      border-radius: 1.25em;
      padding: 0.313em 0.625em 0.313em 0.625em;
      margin-left: -0.938em;
    }

    h3 {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 1.4em;
    }
  }
}

.restaurants {
  padding: 4%;
  background-color: $lightgrey;
  padding-bottom: 10%;

  h2 {
    font-size: 2em;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    border-radius: 1.25em;
    margin: 5% 0 5% 0;
    height: 24.375em;
    box-shadow:
      0 0 1.1px rgba(0, 0, 0, 0.017),
      0 0 2.65px rgba(0, 0, 0, 0.024),
      0 0 5px rgba(0, 0, 0, 0.03),
      0 0 9.95px rgba(0, 0, 0, 0.036),
      0 0 16.7px rgba(0, 0, 0, 0.043),
      0 0 40px rgba(0, 0, 0, 0.06);

    img {
      object-fit: cover;
      width: 100%;
      height: 17em;
      border-radius: 1.25em 1.25em 0 0;
    }

    .card-main {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      width: 100%;
      height: 100%;

      h3 {
        margin: 1em 1em 0.313em 1em;
        font-size: 1.75em;
        color: black;
      }

      p {
        color: black;
        font-size: 1.5em;
        font-weight: 400;
        margin: 0 1.25em 1.25em 1.25em;
      }
    }

    .like {
      margin: -4.688em 3.75em 0 0;
    }

    .new {
      position: absolute;
      background-color: $teal;
      padding: 0.625em;
      border-radius: 0.313em;
      margin: 1.5em;

      &:hover {
        cursor: default;
      }

      h4 {
        font-size: 1.25em;
        margin: 0;
        color: #008766;
      }
    }
  }
}

footer {
  background-color: $darkgrey;
  padding: 3% 3% 8% 3%;
  display: flex;
  flex-direction: column;

  h4 {
    font-family: "Shrikhand", cursive;
    font-size: 2em;
    color: white;
    margin: 3%;
  }

  a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    margin: 1.25% 3% 1.25% 3%;

    i {
      width: 1.875em;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: $lightgrey;
  border-radius: 3.125em 3.125em 0 0;
  padding: 3% 3% 3% 3%;
  margin: -10% 0 0 0;

  .restaurant-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    font-family: "Shrikhand", cursive;
    font-size: 1.75em;

    a {
      font-size: 1.75em;
      margin-right: 0.938em;
      padding: 0.313em;
    }

    .like {
      margin-right: 2.75em;
      margin-bottom: 2.75em;
    }
  }

  .menu-list {
    width: 100%;

    h2 {
      position: relative;
      width: 100%;
      padding-bottom: 0.625em;
      font-weight: 400;
    }

    h2:after {
      content: "";
      background: $teal;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2em;
      height: 0.188rem;
    }

    .list {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    a {
      display: flex;
      background-color: white;
      align-items: center;
      justify-content: space-between;
      margin: 0.5em 0 0.5em 0;
      border-radius: 1.25em;
      text-decoration: none;
      color: black;
      font-size: 1.33em;
      width: 100%;
      height: 5em;
      overflow: hidden;
      box-shadow:
        0 0 1.1px rgba(0, 0, 0, 0.017),
        0 0 2.65px rgba(0, 0, 0, 0.024),
        0 0 5px rgba(0, 0, 0, 0.03),
        0 0 9.95px rgba(0, 0, 0, 0.036),
        0 0 16.7px rgba(0, 0, 0, 0.043),
        0 0 40px rgba(0, 0, 0, 0.06);

      &:hover {
        .check-div {
          width: 22%;
          font-size: 2em;
          transition: 500ms;

          i {
            transform: rotate(1turn);
            transition: transform 0.5s;
          }
        }
      }

      p {
        margin-top: 1%;
        margin-bottom: 1%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .price {
        text-overflow: unset;
        font-weight: 500;
        margin-right: 0.5em;
        min-width: 2.375em;
        padding-left: 0.938em;
      }

      .link-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-width: 10%;
        padding: 1.875em 0 1.875em 1.875em;

        div {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          white-space: nowrap;

          h3 {
            margin-top: 1%;
            margin-bottom: 1%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      .check-div {
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        font-size: 0;
        height: 100%;
        background-color: $teal;
        border-radius: 0;
        transition: 250ms;

        i {
          color: white;
        }
      }
    }
  }

  .order-button {
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: white;
    background-image: linear-gradient(to bottom right, $pink, $purple);
    text-decoration: none;
    border-radius: 3.125em;
    padding: 0.75em 2em 0.75em 2em;
    margin: 1.25em 0 2.5em 0;
    z-index: 1;
    transition-duration: 250ms;
    box-shadow:
      0 0 1.1px rgba(0, 0, 0, 0.017),
      0 0 2.65px rgba(0, 0, 0, 0.024),
      0 0 5px rgba(0, 0, 0, 0.03),
      0 0 9.95px rgba(0, 0, 0, 0.036),
      0 0 16.7px rgba(0, 0, 0, 0.043),
      0 0 40px rgba(0, 0, 0, 0.06);

    &:hover {
      box-shadow:
        0 0 1.1px rgba(0, 0, 0, 0.034),
        0 0 2.65px rgba(0, 0, 0, 0.048),
        0 0 5px rgba(0, 0, 0, 0.06),
        0 0 9.95px rgba(0, 0, 0, 0.072),
        0 0 16.7px rgba(0, 0, 0, 0.086),
        0 0 40px rgba(0, 0, 0, 0.12);
    }

    &::before {
      position: absolute;
      border-radius: 3.125em;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, lighten($pink, 5), lighten($purple, 5));
      z-index: -1;
      transition: opacity 250ms linear;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 524px) {
  body {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 993px) {
  .manual {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .manual-content {
      display: flex;
      justify-content: center;
      margin: 2%;
      width: 100%;

      .step {
        width: 100%;
        margin: 3%;
        gap: 0.813em;
      }
    }
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125em;

    .restaurants-content {
      max-width: 1150px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3.125em;

      .card {
        width: 34.375em;
        margin: 0;
      }
    }
  }

  .menu {
    .restaurant-header {
      max-width: 1000px;
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;

    h2 {
      margin-top: 2.188em;
      margin-bottom: 1.563em;
    }

    .list {
      width: 800px !important;
      gap: 0.938em !important;
      font-size: 0.79em !important;
      flex-wrap: wrap !important;

      a {
        margin: 0;

        &:hover {
          .check-div {
            width: 100px;
          }
        }
      }
    }
  }

  footer {
    align-items: center;
    padding: 1.563em;
  }
}
