body {
  margin: 0;
}

header {
  margin: 0;

  img {
    width: 100%;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    align-items: center;

    img {
      height: 3.0em;
    }

    .fa-arrow-left {
      font-size: 2em;
    }

    .top-spacer {
      width: 28px;
    }
  }
}
