body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.like-filled {
  display: none;
}

.like {
  cursor: pointer;
}
.like a {
  text-decoration: none;
  color: black;
  font-size: 2em;
}
.like .like-filled {
  display: none;
}
.like:hover .like-empty {
  display: none;
}
.like:hover .like-filled {
  display: inline;
  background-image: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
}

header {
  margin: 0;
}
header img {
  width: 100%;
}
header .top-bar {
  display: flex;
  justify-content: space-between;
  margin: 1.75em;
  align-items: center;
}
header .top-bar img {
  height: 3em;
}
header .top-bar .fa-arrow-left {
  font-size: 2em;
  color: black;
}
header .top-bar .top-spacer {
  width: 28px;
}
header .location {
  font-weight: 500;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  margin: 0;
  color: #353535;
}
header .location .spacer {
  width: 18px;
  visibility: hidden;
}

.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  font-size: 1.3em;
  text-align: center;
}
.explore h1 {
  margin: 0;
}
.explore p {
  font-weight: 400;
  font-size: 1.1em;
}
.explore a {
  font-weight: 500;
  font-size: 1.1em;
  color: white;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  text-decoration: none;
  border-radius: 50px;
  padding: 20px 30px 20px 30px;
}
.explore a:hover {
  background-image: linear-gradient(to bottom right, #ff46cc, #782cd3);
}

.manual {
  margin: 10% 3% 10% 3%;
}
.manual h2 {
  font-size: 2em;
}
.manual div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  background-color: #f6f6f6;
  margin: 8% 4% 8% 4%;
  border-radius: 30px;
  padding: 7px 0 7px 0;
  cursor: default;
  box-shadow: 0 0 1.1px rgba(0, 0, 0, 0.017), 0 0 2.65px rgba(0, 0, 0, 0.024), 0 0 5px rgba(0, 0, 0, 0.03), 0 0 9.95px rgba(0, 0, 0, 0.036), 0 0 16.7px rgba(0, 0, 0, 0.043), 0 0 40px rgba(0, 0, 0, 0.06);
}
.manual div i {
  color: #353535;
  font-size: 1.3em;
}
.manual div p {
  background-color: #9356dc;
  color: white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin-left: -15px;
}
.manual div h3 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.4em;
}
.manual div:hover {
  background-color: #f5edff;
}
.manual div:hover i {
  color: #9356dc;
}

.restaurants {
  padding: 4%;
  background-color: #f6f6f6;
  margin-bottom: 8%;
}
.restaurants h2 {
  font-size: 2em;
}
.restaurants .card {
  background-color: white;
  border-radius: 20px;
  margin: 5% 0 5% 0;
  box-shadow: 0 0 1.1px rgba(0, 0, 0, 0.017), 0 0 2.65px rgba(0, 0, 0, 0.024), 0 0 5px rgba(0, 0, 0, 0.03), 0 0 9.95px rgba(0, 0, 0, 0.036), 0 0 16.7px rgba(0, 0, 0, 0.043), 0 0 40px rgba(0, 0, 0, 0.06);
}
.restaurants .card img {
  object-fit: cover;
  width: 100%;
  height: 17em;
  border-radius: 20px 20px 0 0;
}
.restaurants .card .card-main {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.restaurants .card .card-main h3 {
  margin: 4% 4% 1% 4%;
  font-size: 1.75em;
  color: black;
}
.restaurants .card .card-main p {
  color: black;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 4% 4% 4%;
}
.restaurants .card .like {
  position: absolute;
  margin: -12% 0 0 80%;
}

footer {
  background-color: #353535;
  padding: 3% 3% 8% 3%;
  display: flex;
  flex-direction: column;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  color: white;
  margin: 3%;
}
footer a {
  font-size: 1.3em;
  text-decoration: none;
  color: white;
  margin: 1.25% 3% 1.25% 3%;
}
footer a i {
  width: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 3% 3% 3% 3%;
  margin: -10% 0 0 0;
}
.menu .restaurant-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  font-family: "Shrikhand", cursive;
  font-size: 1.75em;
}
.menu .restaurant-header a {
  font-size: 1.75em;
  margin-right: 15px;
}
.menu .menu-list {
  width: 100%;
}
.menu .menu-list h2 {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  font-weight: 400;
}
.menu .menu-list h2:after {
  content: "";
  background: #99e2d0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 3px;
}
.menu .menu-list a {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5% 0 5% 0;
  border-radius: 20px;
  padding: 3%;
  text-decoration: none;
  color: black;
  font-size: 1.33em;
  box-shadow: 0 0 1.1px rgba(0, 0, 0, 0.017), 0 0 2.65px rgba(0, 0, 0, 0.024), 0 0 5px rgba(0, 0, 0, 0.03), 0 0 9.95px rgba(0, 0, 0, 0.036), 0 0 16.7px rgba(0, 0, 0, 0.043), 0 0 40px rgba(0, 0, 0, 0.06);
}
.menu .menu-list a h3 {
  margin-top: 1%;
  margin-bottom: 1%;
}
.menu .menu-list a div {
  display: flex;
  justify-content: space-between;
}
.menu .menu-list a div p {
  margin-top: 1%;
  margin-bottom: 1%;
}
.menu .menu-list a div .price {
  font-weight: 500;
  margin-right: 5%;
}
.menu .order-button {
  font-weight: 500;
  font-size: 2em;
  color: white;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  text-decoration: none;
  border-radius: 50px;
  padding: 20px 75px 20px 75px;
  margin: 10% 0 20% 0;
}
.menu .order-button:hover {
  background-image: linear-gradient(to bottom right, #ff46cc, #782cd3);
}

/*# sourceMappingURL=style.css.map */
